# config
cfg.mak.old

# VS Code Settings
.vscode/

# out
out/

# auto create links
source/kernel/linux-4.19.322/drivers/bluetooth_usb
source/kernel/linux-4.19.322/drivers/common
source/kernel/linux-4.19.322/drivers/msp
source/kernel/linux-4.19.322/drivers/wifi

# auto create files
source/kernel/linux-4.19.322/.config
