# config
cfg.mak.old

# VS Code Settings
.vscode/

# out
out/

# auto create links
source/kernel/linux-4.9.329/drivers/bluetooth_usb
source/kernel/linux-4.9.329/drivers/common
source/kernel/linux-4.9.329/drivers/msp
source/kernel/linux-4.9.329/drivers/wifi

# auto create files
source/kernel/linux-4.9.329/.config
